/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* Header Styling from Richard-McGhee branch */

.linkslogo{
    display: flex;
    align-items: center;
    margin: 3.5% auto;
}
.nav-logo{
    width: 20%;
}
.nav-links{
    width: 80%;
}
.nav-links nav{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3.5%;
}
.nav-links a{
    text-decoration: none;
    color: black;
}
.splash-image{
    margin-bottom: 2%;
}

/* End of Header styling */

/* About section styling */

.about{
    border-bottom: 1px dashed black;
    padding: 0 3%;
    padding-bottom: 3%;
    margin-bottom: 3%;
}

/* End of about section styling */
/* Information section styling */

.information{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3%;
}
.information section{
    width: 45%;
    padding-bottom: 4%;
    margin-bottom: 2.5%;
    border-bottom: 1px dashed black;
}
.information section:first-child, .information section:nth-child(2){
    margin-bottom: 8%;
}

.information section p{
    margin-bottom: 8%;
}

/* information buttons */

.information section a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2% 6%;
}
.information section a:hover{
    background-color: black;
    color: white;
}

/* End of information section styling */
/* bottom content styling */

.bottom-content{
    padding: 0 3%;
    padding-bottom: 5%;
}

/* End of bottom content styling */
/* Footer styling, not done by richard-mcghee branch */

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}